.navbar-container {
    background: rgba(34, 34, 41, 0.75);
    backdrop-filter: blur(4px);

    width: 100%;
    padding: 20px 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 200;

    .links {
        width: 100%;
        list-style: none;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .home {
            transition: all 0.3s;

            a {
                color: white;
                padding: 10px;
            }

            &:nth-child(1) {
                transform: scale(1.25);

                &:hover {
                    transform: scale(1.5);
                }
            }
        }

        .houses {
            width: 50%;
            list-style: none;
    
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            li {
                a {
                    color: white;
                    font-size: 1.1rem;
                    text-decoration: none;
    
                    padding: 10px;
                }

                &:nth-child(1) {
                    @include underline($gryffindor-red);
                }
    
                &:nth-child(2) {
                    @include underline($slytherin-green);
                }
    
                &:nth-child(3) {
                    @include underline($hufflepuff-yellow);
                    .hover-underline-animation:after {
                        height: 1px;
                    }
                }
    
                &:nth-child(4) {
                    @include underline($ravenclaw-blue);
                }
            }
        }
    }
}