.wand {
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 42.72px;

    .wand-info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 42.72px;

        p {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }
    }
}