.home-main {
    background: linear-gradient(rgba(17, 17, 17, 0.9), rgba(34, 34, 34, 0.9)),
    url(../../assets/hogwarts.webp) no-repeat center / cover;

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}