.hufflepuff-main {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 216, 0, 0.75)),
    url(../../assets/houses/hufflepuff.webp) no-repeat center / cover;

    height: 100vh;
    width: 100%;
}