// UI

@import './base/mixins';
@import './base/variables';



// COMPONENTS

@import './components/menu';
@import './components/characterCard';



// PAGES

@import './pages/home';
@import './pages/gryffindorPage';
@import './pages/slytherinPage';
@import './pages/hufflepuffPage';
@import './pages/ravenclawPage';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(36, 36, 48);
}