// Gryffindor palette
$gryffindor-red: #740001;
$gryffindor-gold: #D3A625;

// Slytherin palette
$slytherin-green: #1A472A;
$slytherin-silver: #5D5D5D;

// Hufflepuff palette
$hufflepuff-yellow: #FFD800;
$hufflepuff-black: #000000;

// Ravenclaw palette
$ravenclaw-blue: #0E1A40;
$ravenclaw-bronze: #946B2D;

// Fonts
$main-font: 'Montserrat', sans-serif;
$hand-font: 'Great Vibes', cursive;